h1 {
    text-align: center;
    width: 50%;
    font-weight: 400;
    text-decoration: orange underline wavy;
    letter-spacing: 15px;
    font-size: 80px;
    /* font-family: Segoe UI, Futura, Arial, sans-serif; */
    font-family: fantasy;
}

a {
    text-decoration: none;
}

p {
    line-height: 2;
}