section {
    width: 80%;
    height: 800px;
    /* background-image: url("https://images.unsplash.com/photo-1631183599817-1f74e337a86c?ixid=MnwxMjA3fDB8MHxlZGl0b3JpYWwtZmVlZHw5fHx8ZW58MHx8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1400&q=60");
    background-size: cover;
    background-position: top; */
    background: url("https://images.unsplash.com/photo-1631183599817-1f74e337a86c?ixid=MnwxMjA3fDB8MHxlZGl0b3JpYWwtZmVlZHw5fHx8ZW58MHx8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1400&q=60") no-repeat center/40%, blueviolet;
    margin: 0 auto;
}

h1 {
    font-size: 100px;
    color: white;
}